/* Login.css */

.login-container {
    display: flex;
    width: 100%;
  }

.login-desktop {
  display: flex;
  width: 100%;
}

.login-mobile {
  display: none;
}
  .white-section {
    background-color: #ffffff;
    flex: 0.6;
    padding: 20px;
    width: 845px;
    height: 724px;
    flex-shrink: 0;
  }
  
  .pink-section {
    background-color: #FAC1B8;
    flex: 0.4;
    padding: 60px;
    display: flex;
    align-items: center;
    width: 845px;
    justify-content: center; /* Añade esta línea para centrar contenido horizontalmente */
  }
  
  .login-form {
    max-width: 420px;
    margin: auto;
    display: flex;
    width: 520px;
    height: 426px; 
    padding: 26px 59px;
    padding-top: 100px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    font-size: 20px;
    flex-shrink: 0; /* Establece el valor que desees para que .additional-info se encoga */
  }
  
  .casilla {
    width: 500px;
    color: #000; /* Cambia el color a negro */
  }

  .additional-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-shrink: 0; /* Establece el valor que desees para que .additional-info se encoga */
  }

  .infol {
    font-size: 15px;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    color: #000; /* Cambia el color a negro */
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container {
  text-align: center; /* Añade esta línea para centrar el texto en el contenedor */
  text-align: center;
  margin: 15px 0; /* Ajusta el margen superior e inferior */
  line-height: 0%;
}

  .slogan {
    font-size: 14px;
    color: var(--primary, #393121);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 0%;
    margin-bottom: 40px; /* Ajusta el margen inferior según tus preferencias */
  }
  
  .titulogo {
    color: var(--primary, #393121);
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 0%;
  }

  h2 {
    max-width: 410px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }

  .boton {
    font-weight: bold;
  }
  
  @media screen and (max-width: 768px) {
  .login-desktop {
    display: none;
  }

  .login-mobile {
    display: block;
    width: 100%;
    flex-direction: column;
  }

  .login-form {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .casilla {
    width: 100%;
  }
  
  .infol {
    font-size: 15px;
  }
  
  .additional-info {
    flex-direction: row; /* Mantén la dirección en fila */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
  }

  .checkbox-container {
    margin-right: 40px; /* Agrega espacio a la derecha del checkbox */
  }


}