/* Sobrehoso.css */
.mini-banner {
  background-color: #FAC1B8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left; /* Alinea el texto a la izquierda */
  height: 250px; /* Ajusta la altura según sea necesario */
}

.title-container1 {
  color: #000;
  font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  padding-top: 100px; /* Puedes ajustar esto según tus preferencias */
  padding-bottom: 0; /* Ajusta esto para acercar el título al borde inferior */
  width: 590px;
  height: 50px;
  padding-left: 15px;
}

.logo-container1 {
  text-align: center; /* Añade esta línea para centrar el texto en el contenedor */
  line-height: 0%;
  margin-right: 50px; /* Agrega un margen a la izquierda del contenedor de logo */
}

.logo-container1 img {
  max-width: 300px; /* Establecer un ancho máximo para la imagen del logo */
  height: auto; /* Permitir que la altura se ajuste automáticamente para mantener la proporción */
}

.slogan1 {
    color: var(--primary, #393121);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 0%;
  }
  
  .titulogo1 {
    color: var(--primary, #393121);
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 0%;
    margin-top: 15px;
  }

.text-container {
  background-color: #fff;
  margin: 0; /* Ajusta según sea necesario */
  
}

.section-title1 {
  color: #424038;
  align-self: stretch;
  font-family: 'DM Sans', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: left; /* Alinea el texto a la izquierda */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.paragraph {
  color: #424038;
  text-align: left; /* Alinea el texto a la izquierda */
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.5px;
}

.text-with-image-container {
  display: flex;
  align-items: center; 
  
}

.text-with-image-container1 {
  display: flex;
  align-items: flex-start; /* Alinea al principio para asegurar que el logo esté a la derecha del texto */
  justify-content: space-between; /* Añade esta línea para separar el texto y la imagen del logo */
}

.fotoestudiantes {
  order: -1; /* Asegura que la imagen esté antes que el texto */
  width: 100%; /* Cambia el ancho para que ocupe todo el ancho disponible */
  max-width: 600px; /* Establece un ancho máximo para evitar que la imagen se expanda demasiado en pantallas grandes */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  padding: 20px; /* Agrega un espacio alrededor de la imagen */
  margin-top: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 40px;
}

.unpaz { 
  width: 100%;
  max-width: 600px;
  height:auto;
  margin-left:500px;
  padding: 20px; /* Agrega un espacio alrededor de la imagen */
  margin-top: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 40px;
}

@media screen and (max-width: 768px) {

  .mini-banner {
    max-width: 100%;
    height: 150px; /* Añade !important para dar prioridad a esta regla en dispositivos móviles */
  }

.paragraph {
  font-size: 16px; /* Puedes ajustar el tamaño según tus preferencias */
  line-height: 28px; /* Puedes ajustar la altura de línea según tus preferencias */
}

.title-container1 {
  font-size: 14px; /* Ajusta el tamaño del título según sea necesario */
  padding-top: 20px; /* Ajusta el espaciado superior del título según sea necesario */
  max-width: 100%; /* Ajusta el ancho del contenedor para que se ajuste automáticamente */
}

.fotoestudiantes {
  order: 1; /* Resetea el order para dispositivos móviles */
  width: auto;
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 200px; /* Ajusta este valor según sea necesario */
}

.unpaz { 
  width: auto;
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 200px; /* Ajusta este valor según sea necesario */
}

.section-title1 {
  color: #424038;
  align-self: stretch;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: left; /* Alinea el texto a la izquierda */
}

.section-title2 {
  color: #424038;
  align-self: stretch;
  font-family: 'DM Sans', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: left; /* Alinea el texto a la izquierda */
}

.logo-container1 {
  margin-left: 15px; /* Ajusta el margen izquierdo del contenedor del logo */
}

.logo-container1 img {
  max-width: 150px; /* Establecer un ancho máximo para la imagen del logo */
  height: auto; /* Permitir que la altura se ajuste automáticamente para mantener la proporción */
  margin-top: 0px;
}
.titulogo1 {
  font-size: 60px; /* Ajustar el tamaño del título del logo */
  margin-bottom: 5px; /* Ajusta el margen inferior del titulologo */
  margin-top: 15px;
}

.slogan1 {
  font-size: 14px; /* Ajustar el tamaño del slogan */
  margin-top: 50px; /* Ajusta el margen superior del slogan */
}
}

@media (min-width: 769px) and (max-width: 1023px) {

  .unpaz { 
    width: 100%;
    max-width: 600px;
    height:auto;
    margin-left:100px;
    padding: 20px; /* Agrega un espacio alrededor de la imagen */
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 40px;
  }
  
  .fotoestudiantes {
    order: 1; /* Resetea el order para dispositivos móviles */
  }
}

@media (min-width: 1024px) and (max-width: 1080px) {
    
  .fotoestudiantes {
    max-width: 100%;
    max-height: 270px; /* Ajusta este valor según sea necesario */
  }

  .unpaz { 
    width: 100%;
    max-width: 600px;
    height:auto;
    margin-left: 150px;
    padding: 20px; /* Agrega un espacio alrededor de la imagen */
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 1081px) and (max-width: 1200px) {

  .unpaz { 
    width: 100%;
    max-width: 600px;
    height:auto;
    margin-left: 200px;
    padding: 20px; /* Agrega un espacio alrededor de la imagen */
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 1201px) and (max-width: 1500px) {

  .unpaz { 
    width: 100%;
    max-width: 600px;
    height:auto;
    margin-left: 300px;
    padding: 20px; /* Agrega un espacio alrededor de la imagen */
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}