/* Sobrehoso.css */
.text-with-image-container-mob {
  display: none;
}

.mini-banner {
  background-color: #FAC1B8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left; /* Alinea el texto a la izquierda */
  height: 250px; /* Ajusta la altura según sea necesario */
}

.title-container1 {
  color: #000;
  font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  padding-top: 100px; /* Puedes ajustar esto según tus preferencias */
  padding-bottom: 0; /* Ajusta esto para acercar el título al borde inferior */
  width: 590px;
  height: 50px;
  flex-shrink: 0;
  padding-left: 15px;
}

.logo-container1 {
  text-align: center; /* Añade esta línea para centrar el texto en el contenedor */
  line-height: 0%;
  margin-left: 60px; /* Agrega un margen a la izquierda del contenedor de logo */
}

.logo-container1 img {
  max-width: 300px; /* Establecer un ancho máximo para la imagen del logo */
  height: auto; /* Permitir que la altura se ajuste automáticamente para mantener la proporción */
}

.slogan1 {
    color: var(--primary, #393121);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 0%;
  }
  
  .titulogo1 {
    color: var(--primary, #393121);
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 0%;
    margin-top: 15px;

  }

.text-container {
  background-color: #fff;
  margin: 0; /* Ajusta según sea necesario */
}

.section-title1 {
  color: #424038;
  align-self: stretch;
  /* title/large */
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: left; /* Alinea el texto a la izquierda */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.paragraph {
  /* Estilos del párrafo de texto */
  color: #424038;
  text-align: left; /* Alinea el texto a la izquierda */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.5px;
}

.text-with-image-container {
  display: flex;
  align-items: center; 
}

.text-with-image-container1 {
  display: flex;
  align-items: center;
}

.ediuni {
  width: 100%; /* Cambia el ancho para que ocupe todo el ancho disponible */
  max-width: 600px; /* Establece un ancho máximo para evitar que la imagen se expanda demasiado en pantallas grandes */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  padding: 20px; /* Agrega un espacio alrededor de la imagen */
  margin-top: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 40px;

}

@media screen and (max-width: 768px) {
  .mini-banner {
    height: 150px !important; /* Añade !important para dar prioridad a esta regla en dispositivos móviles */
  }

.text-with-image-container1 {
  display: none;
}

.paragraph {
  font-size: 16px; /* Puedes ajustar el tamaño según tus preferencias */
  line-height: 28px; /* Puedes ajustar la altura de línea según tus preferencias */
}

.text-container {
  padding: 15px; /* Puedes ajustar el relleno según tus preferencias */
}

.title-container1 {
  font-size: 20px; /* Ajusta el tamaño del título según sea necesario */
  line-height: 26px; /* Ajusta la altura de línea del título según sea necesario */
  padding-top: 20px; /* Ajusta el espaciado superior del título según sea necesario */
  width: 100%; /* Ajusta el ancho del contenedor para que se ajuste automáticamente */
  white-space: rap; /* Evita que el texto se divida en varias líneas */
}

.ediuni {
  width: auto;
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 200px; /* Ajusta este valor según sea necesario */
}

.section-title1 {
  color: #424038;
  align-self: stretch;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: left; /* Alinea el texto a la izquierda */
}

.text-with-image-container-mob {
  display: block;
  flex-direction: column;
}

.logo-container1 {
  margin-left: 15px; /* Ajusta el margen izquierdo del contenedor del logo */
}

.logo-container1 img {
  max-width: 150px; /* Establecer un ancho máximo para la imagen del logo */
  height: auto; /* Permitir que la altura se ajuste automáticamente para mantener la proporción */
  margin-top: 0px;
}
.titulogo1 {
  font-size: 60px; /* Ajustar el tamaño del título del logo */
  margin-bottom: 5px; /* Ajusta el margen inferior del titulologo */
  margin-top: 15px;
}

.slogan1 {
  font-size: 14px; /* Ajustar el tamaño del slogan */
  margin-top: 50px; /* Ajusta el margen superior del slogan */
}
}