/* Sumate.css */
.mini-banner {
  background-color: #FAC1B8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left; /* Alinea el texto a la izquierda */
  height: 250px;
}

.title-container2 {
  color: #000;
  font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  padding-top: 100px; /* Puedes ajustar esto según tus preferencias */
  padding-bottom: 0; /* Ajusta esto para acercar el título al borde inferior */
  width: 590px;
  height: 50px;
  padding-left: 15px;
}

.text-container {
  background-color: #fff;
  padding: 20px;
}

.section-title2 {
  color: #424038;
  align-self: stretch;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: left; /* Alinea el texto a la izquierda */
}

.section-titlemini {
  color: #424038;
  align-self: stretch;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: left; /* Alinea el texto a la izquierda */
}

.paragraph {
  color: #424038;
  text-align: left; /* Alinea el texto a la izquierda */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.5px;
}

.text-with-image-container {
  display: flex;
  align-items: center;
}

.estudi {
  width: 100%; /* Cambia el ancho para que ocupe todo el ancho disponible */
  max-width: 600px; /* Establece un ancho máximo para evitar que la imagen se expanda demasiado en pantallas grandes */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  padding: 20px; /* Agrega un espacio alrededor de la imagen */
  margin-top: 40px;
  margin-right: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.requirements {
  display: flex;
  justify-content: space-between;
}

.application-container {
  width: 100%; /* Cambia el ancho del contenedor para que ocupe todo el ancho disponible */
  max-width: 800px; /* Establece un ancho máximo para evitar que el formulario se extienda demasiado en pantallas grandes */
  margin: 50px; /* Centra el contenedor horizontalmente */
  margin-top: 80px;
}


.application-form {
  background-color: #0F8AA6;
  border-radius: 10px;
  padding: 20px;
  color: #fff; /* Color del texto */
  text-align: left; /* Alineación del texto a la izquierda */
  font-family: 'Montserrat', sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  margin-top: 5px;
  box-sizing: border-box;
  color: #000; /* Cambia el color a negro */
  text-align: left; /* Alineación del texto a la izquierda */
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; /* Aplicar negrita */
}

button {
  background-color: #0F8AA6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mini-ban {
  display: none;
}

button[type="submit"] {
  border: 2px solid #D9D9D9; /* Color marrón */
  transition: transform 0.2s ease-in-out; /* Transición suave */
}

button[type="submit"]:hover {
  transform: translateY(-3px); /* Desplaza el botón hacia arriba 3 píxeles */
}

@media only screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
  .text-with-image-container {
    flex-direction: column;
  }

  .estudi {
    width: auto;
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 200px; /* Ajusta este valor según sea necesario */
  }

  .requirements {
    flex-direction: column;
  }

  .application-container {
    width: 100%;
  }
  .paragraph {
    font-size: 16px; /* Puedes ajustar el tamaño según tus preferencias */
    line-height: 28px; /* Puedes ajustar la altura de línea según tus preferencias */
  }

  .text-container {
    background-color: #fff;
    margin: 0; /* Ajusta según sea necesario */
  }

  .title-container2 {
    font-size: 14px; /* Ajusta el tamaño del título según sea necesario */
    padding-top: 20px; /* Ajusta el espaciado superior del título según sea necesario */
    max-width: 100%; /* Ajusta el ancho del contenedor para que se ajuste automáticamente */
  }

  .application-container {
  margin: 0 auto;
  }
  .section-title2 {
    color: #424038;
    align-self: stretch;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: left; /* Alinea el texto a la izquierda */
  }

  .section-titlemini {
    font-size: 20px;
  }

  .application-form {
    background-color: #0F8AA6;
    border-radius: 10px;
    color: #fff; /* Color del texto */
    text-align: left; /* Alineación del texto a la izquierda */
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    box-sizing: border-box; 
  }

  .label,
  .input,
  .textarea {
     font-size: 16px; /* Ajusta según tus preferencias */
    padding: 8px;
   }

  label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
  }
}  