/* Sobrehoso.css */


.mini-banner {
  background-color: #FAC1B8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left; /* Alinea el texto a la izquierda */
  height: 900px;
}

.title-container2 {
  color: #000;
  font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  padding-top: 130px; /* Puedes ajustar esto según tus preferencias */
  padding-bottom: 0; /* Ajusta esto para acercar el título al borde inferior */
  width: 590px;
  height: 50px;
  flex-shrink: 0;
  padding-left: 15px;
}


.image2 {
  width: 653px;
  height: 300px;
  flex-shrink: 0;
}

.text-container {
  background-color: #fff;
  padding: 20px;
}

.section-title2 {
  color: #424038;
  align-self: stretch;
  /* title/large */
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: left; /* Alinea el texto a la izquierda */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */

}

.paragraph {
  /* Estilos del párrafo de texto */
  color: #424038;
  text-align: left; /* Alinea el texto a la izquierda */
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.5px;
  
}

.text-with-image-container {
  display: flex;
  align-items: center;
}

.estudi {
  width: 800px; /* Ajusta el tamaño según sea necesario */
  height: 400px; /* Esto mantiene la proporción de la imagen */
}

.requirements-and-application-container {
  display: flex;
  justify-content: space-between;
}

.requirements-container {
  width: 45%; /* Ajusta el ancho según tus necesidades */
}

.application-container {
  width: 45%; /* Ajusta el ancho según tus necesidades */
}

.application-form {
  background-color: #0F8AA6;
  border-radius: 10px;
  padding: 20px;
  color: #fff; /* Color del texto */
  text-align: left; /* Alineación del texto a la izquierda */
  font-family: 'Montserrat', sans-serif;

}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  margin-top: 5px;
  box-sizing: border-box;
  color: #fff; /* Ajusta el color del texto según sea necesario */
  text-align: left; /* Alineación del texto a la izquierda */
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; /* Aplicar negrita */

}

button {
  background-color: #0F8AA6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mini-ban {
  display: none;
}

@media only screen and (max-width: 600px) {
  /* Estilos para dispositivos móviles */
 
  .mini-banner {
    display: none;
  }

  .text-with-image-container {
    flex-direction: column;
  }
  .image2 {
    width: 100%;
    height: 200px;

  }

  .estudi {
    width: 100%;
    height: auto;
  }

  .requirements-and-application-container {
    flex-direction: column;
  }

  .requirements-container, .application-container {
    width: 100%;
  }
  .paragraph {
    font-size: 20px; /* Puedes ajustar el tamaño según tus preferencias */
    line-height: 28px; /* Puedes ajustar la altura de línea según tus preferencias */
  }

  .text-container {
    padding: 15px; /* Puedes ajustar el relleno según tus preferencias */
  }
 
  .mini-ban {
    background-color: #FAC1B8;
    align-items: center;
    height: 300px; /* Ajusta la altura según sea necesario */
    flex-direction: column;
    display: block;
  }

  .title-container4 {
    font-size: 15px; /* Puedes ajustar el tamaño según tus preferencias */
    line-height: 30px; /* Puedes ajustar la altura de línea según tus preferencias */
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 15px;
    width: 100%;
    text-align: left;
  }
  .section-title2 {
    color: #424038;
    align-self: stretch;
    /* title/large */
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: left; /* Alinea el texto a la izquierda */
  }
  .application-form {
    background-color: #0F8AA6;
    border-radius: 10px;
    color: #fff; /* Color del texto */
    text-align: left; /* Alineación del texto a la izquierda */
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    box-sizing: border-box;
    
  }

  .label,
.input,
.textarea {
  font-size: 16px; /* Ajusta según tus preferencias */
  padding: 8px;
}

label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

  
  }


  
