.mini-banner {
    background-color: #FAC1B8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left; /* Alinea el texto a la izquierda */
    height: 300px; /* Ajusta la altura según sea necesario */
  }
  
  .title-container1 {
    color: #000;
    font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    padding-top: 130px; /* Puedes ajustar esto según tus preferencias */
    padding-bottom: 0; /* Ajusta esto para acercar el título al borde inferior */
    width: 590px;
    height: 50px;
    flex-shrink: 0;
    padding-left: 15px;
  }
   