.alojamientos-container {
  background-color: #0F8AA6;
  padding: 20px;
  text-align: center;
}

.titulo1 {
  color: white;
}

.subtitulo {
  color: white;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: stretch;
}

.card {
  background-color: white;
  border: 1px solid #0F8AA6;
  padding: 10px;
  width: 300px; /* Ancho fijo para cada card */
  text-align: center;
  border-radius: 10px; /* Ajusta el valor según la cantidad de redondeo deseada */
  margin: 20px; /* Agregar un margen para separar las cards */
  transition: transform 0.2s; /* Agregar una transición para un efecto suave */
  display: flex;
  flex-direction: column; /* Asegura que el contenido dentro de cada card se apile verticalmente */
  justify-content: space-between; /* Distribuye el espacio entre los elementos de manera uniforme */
}

.card:hover {
  transform: scale(1.05); /* Escalar la card ligeramente en hover */
}

.imagen-alojamiento {
  width: 100%;
  border-radius: 10px;
}

.info-alojamiento {
  margin-top: 10px;
}

.nombre {
  font-weight: bold; /* Hace que el nombre esté en negrita */
}

.localidad {
  color: #555;
}

@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%; /* Ajusta el ancho de las cards en pantallas pequeñas */
    margin: 10px 0; /* Agregar un margen vertical entre las cards */
  }
}
 