.mini-banner {
    background-color: #FAC1B8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left; /* Alinea el texto a la izquierda */
    height: 250px; /* Ajusta la altura según sea necesario */
  }
  
  .title-container5 {
    color: #000;
    font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    padding-top: 100px; /* Puedes ajustar esto según tus preferencias */
    padding-bottom: 0; /* Ajusta esto para acercar el título al borde inferior */
    width: 590px;
    height: 50px;
    flex-shrink: 0;
    padding-left: 15px;
  }
   
  .text-container {
    background-color: #fff;
    padding: 20px;
  }
  
  .section-title2 {
    color: #424038;
    align-self: stretch;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: left; /* Alinea el texto a la izquierda */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  }
  
  .paragraph {
    /* Estilos del párrafo de texto */
    color: #424038;
    text-align: left; /* Alinea el texto a la izquierda */
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.5px;
  }

  .pdf-button {
    background-color: #0F8AA6;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Transición suave */
    font-size: 18px; /* Ajusta el tamaño del texto según prefieras */
    border: 2px solid #424038; 
    font-weight: bold;
  }
  
  .pdf-button:hover {
    transform: translateY(-3px); /* Desplaza el botón hacia arriba 3 píxeles */
  }
  
  .logoint {
    width: 100%; /* Cambia el ancho para que ocupe todo el ancho disponible */
    max-width: 600px; /* Establece un ancho máximo para evitar que la imagen se expanda demasiado en pantallas grandes */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    padding: 20px; /* Agrega un espacio alrededor de la imagen */
    margin-top: 40px;
    margin-right: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-width: 768px) {
    .mini-banner {
      height: 150px !important; /* Añade !important para dar prioridad a esta regla en dispositivos móviles */
    }

    .title-container5 {
      font-size: 20px; /* Ajusta el tamaño del título según sea necesario */
      line-height: 26px; /* Ajusta la altura de línea del título según sea necesario */
      padding-top: 20px; /* Ajusta el espaciado superior del título según sea necesario */
      width: 100%; /* Ajusta el ancho del contenedor para que se ajuste automáticamente */
    }

    .paragraph {
      font-size: 16px;
    }

    .logoint {
      width: auto;
      max-width: 90%;
      height: auto;
      display: block;
      margin: 0 auto;
      max-height: 200px; /* Ajusta este valor según sea necesario */
    }
  }