.banner {
  display: flex;
  background-color: #fff; /* Si deseas un fondo de color detrás de la imagen */
}

.banner-content {
  display: flex;
  align-items: center;
}

.banner-text {
  flex: 1; /* El texto ocupará el 50% del ancho */
  padding: 20px; /* Espacio entre el texto y la imagen */
  text-align: left; /* Alinea el texto a la izquierda */
}

.big-text {
  font-family: 'Montserrat', sans-serif;
}

.banner-image {
  flex: 1; /* La imagen ocupará el 50% del ancho */
  padding: 20px; /* Espacio entre la imagen y el texto */
}

.banner-image img {
  
  width: 551px;
  height: 402px;
  flex-shrink: 0;
}

h1 {
  color: #424038;

  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px; /* 118.75% */
  letter-spacing: 0.5px;
}

/* Estilo para el texto de abajo (medium) */
p {
  color: #424038;

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: 0.5px;

}