.footer {
  background-color: #393121;
  color: #fffcf1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  position: relative;
  bottom: 0;
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.info2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.footer {
  font-weight: bold; /* Si deseas que el pie de página en su conjunto sea negrita */
}

.bold-text {
  font-weight: bold;
}
.info p {
  margin: 0;
}

.info a {
  text-decoration: none;
  color: #fffcf1;
  font-size: 14px;
}

.info a:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 40px;
  margin-right: 10px;
}

.logo p {
  margin-left: 10px;
  font-size: 14px;
  color: #fffcf1;
}

.social {
  display: flex;
  align-items: center;
  padding-left: 40px; /* Ajusta el valor según la separación deseada */
}

.footermobile {
  display: none;
}

@media (min-width: 1116px) and (max-width: 1326px) {
  
  .logo img {
    max-height: 30px;
    margin-right: 10px;
  }

  .logo p {
    font-size: 12px;

  }

  .info a {
    align-items: center;
    font-size: 12px;
  }  
  
  .social {
    padding-left: 0px; /* Ajusta el valor según la separación deseada */
  }
}

@media (min-width: 1000px) and (max-width: 1116px) {
  
  .logo img {
    max-height: 30px;
    margin-right: 10px;
  }

  .logo p {
    font-size: 10px;
  }

  .info a {
    align-items: center;
    font-size: 10px;
  }  

  .social {
    padding-left: 0px; /* Ajusta el valor según la separación deseada */
  }
}


@media (max-width: 999px) {
  .footer {
    padding: 10px; /* Ajusta el valor según la separación deseada en dispositivos móviles */
  }

  .social {
    padding-left: 0; /* Elimina el padding izquierdo en dispositivos móviles */
  }

.footermobile {
  background-color: #393121;
  color: #fffcf1;
  display: flex;
  flex-direction: column; /* Cambia a dirección de columna para dispositivos móviles */
  align-items: center;
  padding: 5px 20px;
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
  font-weight: bold;
} 

.logo-mob {
  display: flex;
  margin-top: 10px;
  align-items: center; /* Alinea el contenido al centro en dispositivos móviles */
}

.logo-mob img {
  max-height: 60px;
  margin-right: 10px;
}

.logo p {
  margin: 0;
  font-size: 20px;
}

.social {
  display: flex;
  align-items: center;
}

.social svg {
  width: 50px;
  height: 50px;
}

.info2 {
  display: flex;
  flex-direction: column; /* Alinea los elementos de info2 en columna */
  align-items: flex-start; /* Alinea el contenido a la izquierda en dispositivos móviles */
}

.info2 a {
  text-decoration: none;
  color: #fffcf1;
  font-size: 20px;
  margin: 5px 0; /* Ajusta el valor según la separación deseada */
  display: block; /* Asegura que los enlaces ocupen todo el ancho y estén uno debajo del otro */
}

.footer {
  display: none
}

.logo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo2 p {
  font-size: 14px;
  color: #fffcf1;
  white-space: nowrap;
}

.logo2 img {
  max-height: 40px;
}
}