/* HamburgerMenu.css */
.nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #393121;
    z-index: 999;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .nav.open {
    display: flex;
  }
  
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .nav ul li {
    margin: 20px 0;
  }
  
  .nav a {
    color: #FFFCF1;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
  }
  
  .nav a:hover {
    color: #0F8AA6;
  }
  
  .login-button {
    background-color: #0F8AA6;
    color: #FFFCF1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .close-button {
    color: #FFFCF1;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .menu-button {
      display: block;
    }
  
    .menu-button.active .bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .menu-button.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .menu-button.active .bar:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  
    .bar {
      width: 30px;
      height: 3px;
      background-color: #FFFCF1;
      margin: 6px 0;
      transition: 0.4s;
    }
  }
  