/* Header.css */
.header {
  background-color: #393121;
  color: #FFFCF1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;

}

.logo img {
  max-height: 40px; /* Establece el tamaño del logotipo */
  margin-right: 10px; /* Agrega un espacio entre el logo y el texto "HOSO" */
}

.desktop-nav {
  display: none; /* Oculta la navegación de escritorio por defecto en móvil */
}

.desktop-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
}

.desktop-nav li {
  margin-left: 20px; /* Agrega espacio entre elementos de navegación */
}

.desktop-nav li:last-child {
  margin-right: 20px; /* Añade un margen derecho al último elemento para separarlo del botón */
}

.desktop-nav a {
  color: #FFFCF1;
  text-decoration: none; /* Elimina la subrayado de los enlaces */
  font-weight: bold;
}

.desktop-nav a:hover {
  color: #0F8AA6;
}

.login-button {
  background-color: #0F8AA6;
  color: #FFFCF1;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px; /* Botón más redondeado */
}

.menu-button {
  display: none; /* Oculta el botón de menú en la versión de escritorio por defecto */
  cursor: pointer;
}

.close-button {
  display: none;
}

/* Estilos para la versión móvil */
@media screen and (max-width: 768px) {
  .desktop-nav {
    display: none; /* Asegura que la navegación de escritorio no se muestre en móvil */
  }

  .menu-button {
    display: block;
    cursor: pointer;
    margin-right: 30px;
  }

  .close-button {
    display: block;
    color: #FFFCF1;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #393121;
    z-index: 999;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav.open {
    display: flex;
  }

  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .nav ul li {
    margin: 20px 0;
  }

  .nav a {
    color: #FFFCF1;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
  }

  .nav a:hover {
    color: #0F8AA6;
  }

  .login-button {
    background-color: #0F8AA6;
    color: #FFFCF1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
  }
}

/* Estilos para la versión de escritorio */
@media screen and (min-width: 769px) {
  .desktop-nav {
    display: flex; /* Muestra la navegación de escritorio en pantallas grandes */
  }

  .menu-button {
    display: none; /* Oculta el botón de menú en la versión de escritorio */
  }

  .nav {
    display: none; /* Oculta el menú hamburguesa en pantallas grandes */
  }
}
