.banner {
  display: flex;
  opacity: 0.8;
  background: url(../img/BannerHome.jpg), lightgray 50%;
  mix-blend-mode: darken;
  width: 100%;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: cover; /* Ajusta el ancho de la imagen al 100% y permite que el alto se ajuste automáticamente */

}

.banner-content {
  display: flex;
  align-items: center;
}

.banner-text {
  flex: 1; /* El texto ocupará el 50% del ancho */
  padding: 20px; /* Espacio entre el texto y la imagen */
  text-align: left; /* Alinea el texto a la izquierda */
  width: 685px;
}

.big-text {
  font-family: 'Montserrat', sans-serif;
  color:  #FFFCF1;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px; /* 126.667% */
  letter-spacing: 0.5px;
}

.banner-image img {
  width: 1440px;
  height: 479px;
  flex-shrink: 0;
}

p {
  color: #424038;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
}


@media only screen and (max-width: 768px) {
  .banner {
    height: 400px; /* Ajuste de altura para dispositivos móviles */
    background-size: cover;

  }

  .big-text {
    font-size: 60px; /* Tamaño de fuente aún más reducido para dispositivos móviles */
    line-height: 40px; /* Ajuste de línea para dispositivos móviles */
    overflow-wrap: break-word; /* Utiliza overflow-wrap para permitir que el texto se divida en varias líneas */
  }
  
  .banner-text {
    flex: 1; /* El texto ocupará el 50% del ancho */
    padding: 20px; /* Espacio entre el texto y la imagen */
    text-align: left; /* Alinea el texto a la izquierda */
    width: 350px;
  }

  p {
    color: #424038;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
  }
}