.banner {
  display: flex;
  opacity: 0.8;
  background: url(../img/fondo1.png), lightgray 50%;
  mix-blend-mode: darken;
  width: 1340px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain; /* Ajusta el ancho de la imagen al 100% y permite que el alto se ajuste automáticamente */

}

.banner-content {
  display: flex;
  align-items: center;
}

.banner-text {
  flex: 1; /* El texto ocupará el 50% del ancho */
  padding: 20px; /* Espacio entre el texto y la imagen */
  text-align: left; /* Alinea el texto a la izquierda */
  width: 685px;
}

.big-text {
  font-family: 'Montserrat', sans-serif;
  color:  #FFFCF1;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px; /* 126.667% */
  letter-spacing: 0.5px;
}



.banner-image img {
  width: 1440px;
  height: 479px;
  flex-shrink: 0;
}

h1 {
  color: #424038;

  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px; /* 118.75% */
  letter-spacing: 0.5px;
}

/* Estilo para el texto de abajo (medium) */
p {
  color: #424038;

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: 0.5px;

}