.carrusel-container {
    display: flex;
    overflow: hidden;
    background-color: #FAC1B8;
    padding: 50px; /* Agregar relleno alrededor del carrusel */
    margin: 0 auto; /* Centrar el carrusel horizontalmente */
    width: 100%; /* O podrías usar un porcentaje específico, por ejemplo, 100% */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho y la altura total */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .carrusel-item {
    opacity: 0;
    transition: opacity 1s; /* Agregar una transición de 1 segundo a la propiedad de opacidad */
  }
  
  .carrusel-content {
    display: flex;
    align-items: center;
  }
  

  .carrusel-text h2 {
    font-size: 40px;
    font-family: Montserrat;
  }
  
  .carrusel-text p {
    font-size: 20px;
  }
  
  .carrusel-text button {
    background-color: #0F8AA6;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Ajusta el valor según la cantidad de redondeo deseada */
    transition: transform 0.2s; /* Agregar una transición para un efecto suave */
  }

  .carrusel-text button:hover {
  transform: scale(1.05); /* Escalar el cuadro ligeramente en hover */
  }
  
  .carrusel-text {
    flex: 1;
    padding: 10px;
    max-width: 50%;
    align-items: center;
    margin-right: 220px; /* Agregar margen a la derecha para separar el texto de la imagen */
    text-align: left; /* Alinea el texto a la izquierda */
    font-family: Montserrat;
  }
  
  .carrusel-image {
    height: auto;
    max-width: 100%; /* Ajusta la anchura máxima según tus necesidades */
  }
  
  .carrusel-image img {
    max-width: 100%;
    max-height: 300px; /* Ajusta la altura máxima según tus necesidades */
    width: auto;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  }
  
.carrusel-indicators {
    text-align:left;
    margin-top: 10px;
  }
  
  .indicator-line {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row; /* Alinea los indicadores en una columna */
  }
  
  .carrusel-indicator {
    display: inline-block;
    width: 100px;
    height: 10px;
    background-color: #fff;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .active {
    background-color: #0F8AA6; /* Color para el indicador activo */
  }
  
  @media only screen and (max-width: 768px) {
    .carrusel-content {
      flex-direction: column; /* Cambia la dirección del flex a columna en dispositivos móviles */
    }
  
    .carrusel-text {
      max-width: 100%; /* Ocupa el ancho completo en dispositivos móviles */
      margin-right: 0; /* Elimina el margen a la derecha en dispositivos móviles */
    }
  
    .carrusel-image {
      margin-top: 20px; /* Agrega un espacio superior entre el texto y la imagen en dispositivos móviles */
    }
  } 

