.header {
    background-color: #393121;
    color: #FFFCF1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    max-height: 40px; /* Establece el tamaño del logotipo */
    margin-right: 10px; /* Agrega un espacio entre el logo y el texto "HOSO" */
  }
  
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
  }
  
  .nav li {
    margin-left: 10px; /* Agrega espacio entre elementos de navegación */
  }
  
  .nav li:last-child {
    margin-right: 20px; /* Añade un margen derecho al último elemento para separarlo del botón */
  }

  .nav {
    margin-left: auto; /* Alinear a la derecha */
  }
  
  .login-button {
    background-color: #0F8AA6;
    color: #FFFCF1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px; /* Botón más redondeado */
  }
  
  /* Cambia el color del texto de los elementos de navegación a blanco */
  .nav a {
    color: #FFFCF1;
    text-decoration: none; /* Elimina la subrayado de los enlaces */
    font-weight: bold;

  }
  
  /* Cambia el color del texto de los elementos de navegación cuando se les hace hover */
  .nav a:hover {
    color: #0F8AA6;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  .header {
    font-weight: bold;
  }
  
  .bold-text {
    font-weight: bold;
  }
  