.header {
    background-color: #393121;
    color: #FFFCF1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    max-height: 40px; /* Establece el tamaño del logotipo */
    margin-right: 10px; /* Agrega un espacio entre el logo y el texto "HOSO" */
  }
  
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
  }
  
  .nav li {
    margin-left: 10px; /* Agrega espacio entre elementos de navegación */
  }
  
  .nav li:last-child {
    margin-right: 20px; /* Añade un margen derecho al último elemento para separarlo del botón */
  }

  .nav {
    margin-left: auto; /* Alinear a la derecha */
  }
  
  .login-button {
    background-color: #0F8AA6;
    color: #FFFCF1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px; /* Botón más redondeado */
  }
  
  .nav a {
    color: #FFFCF1;
    text-decoration: none; /* Elimina la subrayado de los enlaces */
    font-weight: bold;

  }
  
  .nav a:hover {
    color: #0F8AA6;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  .header {
    font-weight: bold;
  }
  
  .bold-text {
    font-weight: bold;
  }
  
  .menu-button {
    display: none; /* Oculta el botón de menú en la versión de escritorio por defecto */
    cursor: pointer;
  }

  .close-button {
    display: none;
  }

  /* Estilos para la versión móvil */
@media screen and (max-width: 768px) {
  
  .header .menu-open {
    width: 10px;
    padding: 10px 15px; /* Ajusta el padding según sea necesario */

  }

  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #393121;
    z-index: 999;
    overflow: visible;
  }


  .nav.open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav li {
    margin: 10px 0;
    text-align: center;
    width: 100%; /* Añade esta regla para forzar que ocupen todo el ancho disponible */

  }

  .menu-button {
    display: block;
    cursor: pointer;
  }
  
  .close-button {
    color: #FFFCF1;
    font-size: 24px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
  }

  .menu-button.active .bar:nth-child(1),
  .menu-button.active .bar:nth-child(3) {
    transform: translateY(7px) rotate(45deg); /* Ajusta la animación del icono de hamburguesa */
  }

  .menu-button.active .bar:nth-child(2) {
    opacity: 0; /* Desvanece el segundo trazo del icono de hamburguesa cuando está abierto */
  }

  .menu-button.active .bar {
    background-color: #FFFCF1; /* Color de las barras del icono de hamburguesa cuando está activo */
  }
  
  .bar {
    height: 5px;
    width: 30px;
    background-color: #FFFCF1; /* Color de las barras del icono de hamburguesa */
    margin: 6px 0;
    transition: 0.4s; /* Agrega una transición suave a las barras del icono de hamburguesa */
  }
}
