/* Sumate.css */


.mini-banner {
    background-color: #FAC1B8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left; /* Alinea el texto a la izquierda */
  
  }
  
  .title-container {
    color: #000;
    font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    padding-top: 50px; /* Puedes ajustar esto según tus preferencias */
    padding-bottom: 0; /* Ajusta esto para acercar el título al borde inferior */
    width: 503px;
    height: 34px;
    flex-shrink: 0;
    padding-left: 15px;
  }
  
  
  .image {
    width: 773px;
    height: 219px;
    flex-shrink: 0;
  }
  
  .text-container {
    background-color: #fff;
    padding: 20px;
  }

  .section-title {
    /* Estilos del título "Antecedentes" */
    color: #424038;
    align-self: stretch;
    /* title/large */
    font-family: DM Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px; /* 126.667% */
    letter-spacing: 0.5px;
    text-align: left; /* Alinea el texto a la izquierda */
  }
  
  .paragraph {
    /* Estilos del párrafo de texto */
    color: #424038;
    text-align: left; /* Alinea el texto a la izquierda */
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.5px;
  }
  